*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    color: inherit;
}
/*Menu*/
.navigation{
    display: flex;
    justify-content: flex-start;
    gap: 40%;
    align-items: center;
    background-color:  hsl(31, 77%, 7%);
    padding: 20px;
    color: white;
}
/*Adiconar uma coloração secundária ao titulo*/
span{
    color: #FFA500;
}
/*Corpo do todolist*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
/*Fomulário das tarefas*/
.tabelTask{
    font-weight: bold;
    text-align: center;
    word-spacing: 80px;
    width: 100%;
}
/*Lista de tarefas*/
.text  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* ou um valor desejado */
    padding: 10px; /* ou outro valor desejado */
    margin-left: 25px;
}
/*Botão*/
button{
    background-color:hsl(31, 77%, 7%) ;
    color: white;
    border-radius: 25%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}
/*Animção do botão*/
button:hover{
    background-color: #FFA500;
    border-radius: 50%;
}
/*Versão para dispositivos móveis*/
@media (max-width:785px){
    .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

}






