*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background {
    background-color: hsl(31, 77%, 7%);
    height: 100px;
}

.container {
    background-color: #fff;
    width: 350px;  
    margin-left: 35%;
    margin-top: -30px;
    text-align: center;
    color: hsl(31, 77%, 7%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

input {
    margin-top: 5px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 25px;
    font-size: 15px;
}

button {
    width: 25px;
    height: 26px;
    font-size: 15px;
    text-align: center;
    background-color: hsl(31, 77%, 7);
    outline: none;
    border-radius: 50%;
}

button:hover {
    background-color: #fff;
    color: hsl(31, 77%, 7) ;
}

.text ul{
    margin-top: 5px;
}
